<nav class="py-2 bg-dark border-bottom text-white">
	<div class="container d-flex flex-wrap">
		<ul class="nav me-auto">
			<li><a href="/" class="nav-link px-2 text-white">Accueil</a></li>
			<li>
				<a class="nav-link dropdown-toggle text-secondary" id="music-tools" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Musique
				</a>

				<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="music-tools">
					<li><a class="dropdown-item" href="/music/database">Base de données</a></li>
				</ul>
			</li>
			<li>
				<a class="nav-link dropdown-toggle text-secondary" id="movie-tools" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Films
				</a>

				<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="movie-tools">
					<li><a class="dropdown-item" href="/movie/database">Base de données</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>